.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20rem;
	background-color: rgb(240, 240, 240);
}
.btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5rem;
	width: 50px;
	height: 50px;
	background: rgb(255, 172, 186);
	border-radius: 50%;
	transition: .2s all;
	svg {
		height: 25px;
		width: 25px;
	}
	&:hover {
		transform: translateY(-3px);
		transition: .2s all;
		box-shadow: 0 7px 15px rgba(0, 0, 0, .2);
	}
	&:active {
		transform: translateY(-1px);
		transition: .2s all;
		box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
	}
}

/////////////////////
//Media Queries
/////////////////////

@media screen and (max-width: 600px) {
	.footer {
		flex-wrap: wrap;
		.btn {
			margin: 0 8rem;
		}
	}
}
@media screen and (max-width: 420px) {
	.footer {

		.btn {
			margin: 0 5rem;
		}
	}
}
